* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.form-group {
    text-align: center;
}

form input {
    padding: 1em;
    margin-bottom: 10px;
}